.skeleton {
  pointer-events: none;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

.skeletonImg,
.skeletonText {
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #dddddd 50%,
    #eeeeee 75%
  );
  background-size: 400px 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 8px;
}

.skeletonImg {
  width: 100%;
  height: 140px;
}

.skeletonText {
  height: 15px;
  margin-top: 10px;
}

.skeletonTextSmall {
  width: 50%;
}